$prime: rgba(9, 255, 0, 0.719);
$second: rgb(23, 27, 23);
$third: rgb(66, 66, 66);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: $second;
    color: white;
    font-size: 1.1rem;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $prime;
}

main {
    width: 100%;

    .content-box-wrapper {
        display: grid;
        grid-auto-flow: dense;
        grid-auto-rows: 250px;
        // grid-auto-columns: 500px;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

        .content-box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            border: none;
            background-color: $third;
            border-radius: 7px;
            margin: 1rem 0.5rem;
            
            h2 {
                text-decoration: 2px $prime;
                background-color: $prime;
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
            }

            .ende {
                color: $prime;
                background-color: $prime;
                border-bottom-left-radius: 7px;
                border-bottom-right-radius: 7px;
            }
        }

        .datentyp-container {
            border: none;
            background-color: $third;
            border-radius: 7px;
            margin: 1rem 0.5rem;
            // padding: 0.5rem 1rem;

            .datentypen {
                display: flex;
                justify-content: space-around;
                padding: 0.5rem 0;
                
                ul {
                    list-style: none;

                    li:first-child {
                        color: $prime;
                    }
                }
            }
        }

        .basics {
            .script, .script-extra {
                padding: 0 0.4rem;
            }
        }
    }    
}